.translated-element {
  transform: scale(0.5) translate(86vw, 148vh);
}

.scaled-element {
  transform: scale(2.5);

}

@media (min-width: 501px) and (max-width: 850px) {
  .translated-element {
    transform: scale(0.5) translate(77vw, 147vh);

  }
}

@media (min-width: 381px) and (max-width: 500px) {
  .translated-element {
    transform: scale(0.5) translate(70vw, 142vh);

  }
}

@media (min-width: 300px) and (max-width: 380px) {
  .translated-element {
    transform: scale(0.5) translate(70vw, 133vh);

  }
}

.bouncing-element {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
